.friend {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000aa;
    color: whitesmoke;
    padding: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 5px 10px 15px black;

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}